.dulce {
  position: absolute;
  top: 28px;
  left: 70px;
  font-size: var(--font-size-11xl);
}
.secretChild {
  position: absolute;
  top: 68.78px;
  left: 983.62px;
  width: 369.76px;
  height: 366.15px;
}
.home {
  position: absolute;
  top: 28px;
  left: 408px;
}
.products {
  position: absolute;
  top: 28px;
  left: 566px;
  color: var(--color-snow);
}
.gallery {
  position: absolute;
  top: 28px;
  left: 754px;
}
.contactUs {
  position: absolute;
  top: 28px;
  left: 896px;
  color: var(--color-black);
}
.secretItem {
  position: absolute;
  top: 976.5px;
  left: 612.5px;
  width: 227.14px;
  height: 3px;
}
.haveAGoodCupOfMatcha {
  position: absolute;
  height: 0.93%;
  width: 16.72%;
  top: 95.07%;
  right: 31.32%;
  bottom: 4%;
  left: 51.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.secretInner {
  position: absolute;
  top: 833.36px;
  left: 1381.92px;
  width: 58.08px;
  height: 177.67px;
}
.groupIcon {
  position: absolute;
  height: 2.34%;
  width: 1.67%;
  top: 2.35%;
  right: 12.36%;
  bottom: 95.31%;
  left: 85.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon {
  position: absolute;
  height: 2.34%;
  width: 1.67%;
  top: 2.35%;
  right: 8.61%;
  bottom: 95.31%;
  left: 89.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon1 {
  position: absolute;
  height: 2.35%;
  width: 1.67%;
  top: 2.34%;
  right: 4.86%;
  bottom: 95.31%;
  left: 93.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.instanceChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkolivegreen);
}
.seeMenu {
    position: absolute;
    top: -9px;
    left: -831px;
    letter-spacing: 0.03em;
    line-height: 107.3%;
        color: indianred;
        cursor: pointer; 
}
.chevron {
  position: absolute;
  top: 11px;
  left: 213px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-sf-pro-display);
}
.rectangleParent {
  position: absolute;
  top: 102px;
  left: 574px;
  width: 264px;
  height: 70px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-kodchasan);
}
.bestThingsTo {
  margin: 0;
}
.p {
  margin: 0;
  color: var(--color-white);
}
.bestThingsToContainer {
  position: absolute;
  top: 366px;
  left: 372px;
  font-size: var(--font-size-4xl);
  letter-spacing: 0.03em;
  line-height: 107.3%;
  display: inline-block;
  font-family: var(--font-kodchasan);
  white-space: pre-wrap;
  width: 616px;
  height: 218px;
  color: var(--color-black);
}
.secretChild1 {
  position: absolute;
  top: 766.5px;
  left: 946.5px;
  width: 35.58px;
  height: 315.01px;
}
.secretChild2 {
  position: absolute;
  top: 906.5px;
  left: 1120.5px;
  width: 227.14px;
  height: 3px;
}
.ellipseIcon {
  position: absolute;
  top: 171.13px;
  left: 17.24px;
  width: 111.09px;
  height: 97.34px;
}
.secretChild3 {
  position: absolute;
  top: 129.5px;
  left: 191.5px;
  width: 35.58px;
  height: 318.01px;
}
.secretChild4 {
  position: absolute;
  top: 275.5px;
  left: 304.5px;
  width: 227.14px;
  height: 3px;
}
.secretChild5 {
  position: absolute;
  top: 599.52px;
  left: 57.76px;
  width: 629.92px;
  height: 323.04px;
}
.secret {
  position: relative;
  background-color: var(--color-darkseagreen);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-abel);
}
